




<script src="../js/plugins/jquery-3.1.1.min.js"></script>

<script src="../js/plugins/bootstrap.min.js"></script>
<script src="../js/plugins/bootstrap-select.min.js"></script>
<script src="../js/plugins/bootstrap-table.min.js"></script>

<link rel="stylesheet" href="../css/tether.min.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/bootstrap-select.min.css">
<link rel="stylesheet" href="../css/bootstrap-table.min.css">


<meta charset="UTF-8">
<div class="container">
    <form id="frmDosificacion" method="POST">
        <div class="row">
            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="periodo">Periodo</label>
                <div class="input-group">
                    <select class="selectpicker" data-live-search="true" id="periodo" name="periodo">
                        <option value="ENE-JUN 2016">ENE-JUN 2016</option>
                        <option value="AGO-DIC 2016">AGO-DIC 2016</option>
                        <option value="ENE-JUN 2017">ENE-JUN 2017</option>
                    </select>
                </div>
            </div>


            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="planEstudios">Plan de estudios grupo base</label>
                <div class="input-group">
                    <select class="selectpicker" data-live-search="true" id="planEstudios" name="planEstudios">
                        <option value="ISIC-2010-224">ISIC-2010-224</option>
                        <option value="ISIC-2010-225">ISIC-2010-225</option>
                        <option value="ISIC-2010-226">ISIC-2010-226</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="asignatura">Asignatura</label>
                <div class="input-group">

                    <select class="selectpicker" data-live-search="true" id="asignatura" name="asignatura">
                        <option value="id1">TSO</option>
                        <option value="id2">TPA</option>
                        <option value="id3">Seguridad en Redes</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="claveAsignatura">Clave Asignatura</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input class="form-control" id="claveAsignatura" name="claveAsignatura" placeholder="Clave Asignatura" readonly>
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6">
                <label class="control-label"
                       for="maestro">Maestro</label>
                <div class="input-group">

                    <select class="selectpicker" data-live-search="true" id="maestro" name="maestro">
                        <option value="id1">L. I. Miguel Ángel Martinez Gonzalez</option>
                        <option value="id2">Ing. Fulanito de tal</option>
                        <option value="id3">MTI. Manganito</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6">
                <label class="control-label"
                       for="carrera">Carrera (s)</label>
                <div class="input-group">
                    <select class="selectpicker" data-live-search="true" id="carrera" name="carrera" multiple>>
                        <option value="idMateria1">Ingenieria en Sistemas Computacionales</option>
                        <option value="idMateria2">Ingenieria en Tecnologias de la Información y la Comunicación</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4">
                <label class="control-label"
                       for="horasTeoria">Horas Teoricas</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input type = "number"  min="0" max="10" class="form-control" id="horasTeoria" name="horasTeoria" placeholder="Horas Teoricas">
                </div>
            </div>

            <div class="form-group col-lg-4 col-md-4">
                <label class="control-label"
                       for="horasPracticas">Horas Prácticas</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input type = "number"  min="0" max="10" class="form-control" id="horasPracticas" name="horasPracticas" placeholder="Horas Prácticas">
                </div>
            </div>

            <div class="form-group col-lg-4 col-md-4">
                <label class="control-label"
                       for="creditos">Créditos</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input type = "number"  min="0" max="10" class="form-control" id="creditos" name="creditos" placeholder="Créditos">
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group">
                <label class="control-label"
                       for="caracterizacionDeLaAsignatura">Caracterización de la asignatura</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="caracterizacionDeLaAsignatura" name="caracterizacionDeLaAsignatura" placeholder="Caracterización de la asignatura"></textarea>
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group">
                <label class="control-label"
                       for="intencionDidactica">Intención Didáctica</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="intencionDidactica" name="intencionDidactica" placeholder="Intención Didáctica"></textarea>
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group">
                <label class="control-label"
                       for="competenciaAsignatura">Competencia de la asignatura</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="competenciaAsignatura" name="competenciaAsignatura" placeholder="Competencia de la asignatura"></textarea>
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group">
                <label class="control-label"
                       for="fuentesInformacion">Fuentes de información y apoyos didácticos</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="fuentesInformacion" name="fuentesInformacion" placeholder="Fuentes de información y apoyos didácticos"></textarea>
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group">
                <label class="control-label"
                       for="calendarizacion">Calendarización de evaluación en semanas</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="calendarizacion" name="fuentesInformacion" placeholder="Calendarización de evaluación en semanas"></textarea>
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group">
                <label class="control-label"
                       for="logros">Logros</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="logros" name="fuentesInformacion" placeholder="Logros"></textarea>
                </div>
            </div>
        </div>
        <div><hr></div>
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                <label class="control-label"
                       for="competenciaEspecifica">Competencia específica</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input class="form-control" id="competenciaEspecifica" name="competenciaEspecifica" placeholder="Nombre Competencia Específica">
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <label class="control-label"
                       for="noCompetencia">Competencia No.</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input type = "number"  min="1" max="10" class="form-control" id="noCompetencia" name="noCompetencia" placeholder="Competencia No.">
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <label class="control-label"
                       for="horasTeoricas">Horas teóricas</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input type = "number"  min="0" max="10" class="form-control" id="horasTeoricas" name="horasTeoricas">
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <label class="control-label"
                       for="horasPractica">Horas Prácticas</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <input type = "number"  min="1" max="10" class="form-control" id="horasPractica" name="horasPractica" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label"
                       for="descripcion">Descripción</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    <textarea class="form-control" rows="5" id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="temasySubtemas">Temas y subtemas para desarrollar la específica</label>
                <div class="input-group">
                    <textarea class="form-control" rows="10" id="temasySubtemas" name="temasySubtemas" placeholder="Temas y subtemas para desarrollar la específica"></textarea>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="actividadesAprendizaje">Actividades de Aprendizaje</label>
                <div class="input-group">
                    <textarea class="form-control" rows="11" id="actividadesAprendizaje" name="actividadesAprendizaje" placeholder="Actividades de Aprendizaje"></textarea>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="actividadesEnseñanza">Actividades de enseñanza</label>
                <div class="input-group">
                    <textarea class="form-control" rows="11" id="actividadesEnseñanza" name="actividadesEnseñanza" placeholder="Actividades de Enseñanza"></textarea>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label class="control-label"
                       for="desarrolloCompetenciasGenericas">Desarrollo de competencias genéricas</label>
                <div class="input-group">
                    <textarea class="form-control" rows="10" id="desarrolloCompetenciasGenericas" name="desarrolloCompetenciasGenericas" placeholder="Desarrollo de competencias genéricas"></textarea>
                </div>
            </div>
            <div class="form-group col-lg-8 col-md-8">
                <label class="control-label"
                       for="indicadoresAlcance">Indicadores de alcance</label>
                <div class="input-group">
                    <input class="form-control" id="indicadoresAlcance" name="indicadoresAlcance" placeholder="Indicadores de alcance">
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <label class="control-label"
                       for="valorIndicador">Valor del indicador</label>
                <div class="input-group">
                    <input class="form-control" id="valorIndicador" name="valorIndicador" placeholder="Valor del indicador">
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <button type="button" id="btnAddIndicador" class="btn btn-primary">Agregar</button>
            </div>
            <div class="form-group col-lg-12 col-md-12">
                <table data-toggle="table">
                    <thead>
                    <tr>
                        <th>Indicador de alcance</th>
                        <th>Valor de indicador</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>


        </div><!--row-->
    </form>
</div>
